@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1631px;
  }
}

.clickable {
  color: blue;
  text-decoration: underline;
}

.clickable:hover {
  color: darkblue;
  cursor: pointer;
}
